{{ $galleryName := .Get "galleryName" }}
{{ $galleryType := .Get "type" }}

<div class="container offset">
  <div class="row">

    {{if eq $galleryType "grid"}}

        <div id="gridGallery">
            {{range .Page.Params.galleries.gallery}}
                {{if eq .name $galleryName}}
                    {{range .item}}
                        <a href="{{ $.Site.BaseURL }}img/{{.img }}" class="col-md-4 col-sm-6 col-xs-6 item">
                            <div style="background-image:url('{{ $.Site.BaseURL }}img/{{ replace .img " ." " _460." }}')" class="img-responsive thumb"></div>
                        </a>
                    {{end}}
                {{end}}
            {{end}}
        </div>

        {{ else if eq $galleryType "full"}}

        <div class="owl-carousel col-md-12">
            {{range .Page.Params.galleries.gallery}}
                {{if eq .name $galleryName}}
                    {{range .item}}
                        {{if eq .type "photo" }}
                            <img class="owl-lazy img-responsive" data-src="{{ $.Site.BaseURL }}img/{{$.Page.Params.datafolder}}/{{ replace .img " ." " _1440." }}"/>
                        {{else}}
                            <div class="videoBackground">
                                <video loop muted autoplay controls>
                                    <source src="{{$.Site.BaseURL}}vid/{{$.Page.Params.datafolder}}/{{.video}}" type="video/webm"/>
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                        {{end}}
                        <!-- <div class="caption">
                            <h4 class="title">
                                {{ .captionTitle}}
                            </h4>
                            <span class="paragraph">
                                {{ .captionDescription}}
                            </span>
                        </div> -->
                    {{end}}
                {{end}}
            {{end}}
        </div>
    {{end}}
  </div>
</div>
