{{ $galleryprefix := .Site.BaseURL }}
{{ $gallerythumbnail := .Page.Params.gallerythumbnail }}

<figure itemscope itemtype="http://schema.org/ImageObject" class="gallery-image">
  <a href="{{ $galleryprefix }}img/{{ .Get "file" }}" itemprop="contentUrl" data-size="{{ .Get "size" }}">
      <img src="{{ $galleryprefix }}img/{{ .Get "thumb" }}" itemprop="thumbnail" alt="{{ .Get "caption" }}" />
  </a>


  <figcaption itemprop="caption description">
    {{ .Get "caption" }}
    <span itemprop="copyrightHolder">{{ .Get "copyrightHolder" }}</span>
  </figcaption>

</figure>
