{{ partial "header.html" . }}
{{ partial "nav.html" .}}
<div class=" fill">
  {{ range .Data.Pages }}
  <div class="project fill">

    {{range .Params.img}}
      <div class="bg-img fill" style="background-image:url({{$.Site.BaseURL}}img/{{.}})"></div>
    {{end}}

    <div class="container fill overlay">
      <div class="row">
        <h1 id="title">{{ .Title }}</h1>
        <a href="{{.Permalink }}">{{ .Title }}</a>
      </div>
    </div>

  </div>

  {{ end }}

</div>


{{ partial "footer.html" . }}
