@import "bootstrap/bootstrap.less";
@import "../css/aos.css";
@import "font-awesome/less/font-awesome.less";

//colors

@cyan: #34BCEF;
@magenta: #E0107C;
@dark-gray: #3F4346;
@light-gray: #EFEFEF;
@white: #fff;
@rat: #9B928C;


// Font-Size
@base-font-size: 1em; // Line-Height
@base-line-height: 1.5;
@header-line-height: 1.25; //sizes
@bp-small: 48em; // 768px
@bp-medium: 64em; // 1024px
@bp-large: 85.375em; // 1366px
@bp-xlarge: 120em; // 1920px
@bp-xxlarge: 160em; // 2560px
// Media Queries
@mq-small: ~"(min-width: @{bp-small})";
@mq-medium: ~"(min-width: @{bp-medium})";
@mq-large: ~"(min-width: @{bp-large})";
@mq-xlarge: ~"(min-width: @{bp-xlarge})";
@mq-xxlarge: ~"(min-width: @{bp-xxlarge})";
@mq-retina: ~"(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";
@navbar-height: 70px;

.transition (@transition) {
    -webkit-transition: @transition;
    -moz-transition: @transition;
    -ms-transition: @transition;
    -o-transition: @transition;
}

html {
    height: 100%;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5 {

    a:focus,
    a:hover {
        text-decoration: none;
    }
    .transition( font-size 1s);
}

h1 {
    //  font-size: @base-font-size*3;
    @media @mq-medium {
        font-size: @base-font-size*3;
    }
    @media @mq-large {
        font-size: @base-font-size*3;
    }
    @media @mq-xlarge {
        font-size: @base-font-size*5;
    }
    @media @mq-xxlarge {
        font-size: @base-font-size*8;
    }
}

h2 {
    //  font-size: @base-font-size*3;
    font-size: @base-font-size*2;
    @media @mq-medium {
        font-size: @base-font-size*2;
    }
    @media @mq-large {
        font-size: @base-font-size*2.8;
    }
    @media @mq-xlarge {
        font-size: @base-font-size*3.5;
    }
    @media @mq-xxlarge {
        font-size: @base-font-size*4;
    }
}

p {
    font-size: @base-font-size*1.5;
    @media @mq-medium {
        font-size: @base-font-size*1.5;
    }
    @media @mq-large {
        font-size: @base-font-size*1.5;
    }
    @media @mq-xlarge {
        font-size: @base-font-size*1.5;
    }
    @media @mq-xxlarge {
        font-size: @base-font-size*2;
    }
}

a:hover, a:focus{
  text-decoration: none;
}

.fill{
  height: 100%;
}

.middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
