<div id="brutalistBanner" class="glitch">

    <span class="frame baffle-forever">aaaa</span>
    <span class="frame baffle-forever">aaaa</span>

    <h1>
			<img src="/img/OR_app_icon.png" class="responsive_images"/>
			Experience Objective Reality on your Android phone!
			<img src="/img/google-play-badge.png" class="responsive_images"/>

    </h1>

    <span class="frame baffle-forever">aaaa</span>
    <span class="frame baffle-forever">aaaa</span>

</div>


<!-- <div id="brutalistBanner2" class="glitch">

    <span class="frame baffle-forever">aaaa</span>
    <span class="frame baffle-forever">aaaa</span>

    <h1>
      Lyon Feb 5-8th  <br />Come experience Objective Reality @ Interaction18
    </h1>

    <span class="frame baffle-forever">aaaa</span>
    <span class="frame baffle-forever">aaaa</span>

</div> -->
