<div id="brutalistBanner" class="glitch">

    <span class="frame baffle-forever">aaaa</span>
    <span class="frame baffle-forever">aaaa</span>

    <h1>
        Soon in MAAS! upcoming exhibition at Sydney Museum of Applied arts and Science
    </h1>

    <span class="frame baffle-forever">aaaa</span>
    <span class="frame baffle-forever">aaaa</span>

</div>


<div id="brutalistBanner2" class="glitch">

    <span class="frame baffle-forever">aaaa</span>
    <span class="frame baffle-forever">aaaa</span>

    <h1>
      Lyon Feb 5-8th  <br />Come experience Objective Reality @ Interaction18
    </h1>

    <span class="frame baffle-forever">aaaa</span>
    <span class="frame baffle-forever">aaaa</span>

</div>
