<div id="brutalistBanner" class="glitch">

    <span class="frame baffle-forever">aaaa</span>
    <span class="frame baffle-forever">aaaa</span>

    <h1>
			<img src="/img/OR_app_icon.png" class="responsive_images"/>
			Experience Objective Reality from your couch!
			<a href="https://play.google.com/store/apps/details?id=com.automato.objectiverealities" target="_blank"><img src="/img/google-play-badge.png" class="responsive_images"/></a>

    </h1>

    <span class="frame baffle-forever">aaaa</span>
    <span class="frame baffle-forever">aaaa</span>

</div>


<!-- <div id="brutalistBanner2" class="glitch">

    <span class="frame baffle-forever">aaaa</span>
    <span class="frame baffle-forever">aaaa</span>

    <h1>
      Lyon Feb 5-8th  <br />Come experience Objective Reality @ Interaction18
    </h1>

    <span class="frame baffle-forever">aaaa</span>
    <span class="frame baffle-forever">aaaa</span>

</div> -->
