<section id="portfolio">
    <div class="container">
        {{ range $index, $element := first 4 (where .Site.Pages "Section" "portfolio") }}
            <div class="portfolio_item " style="background-image:url('{{.Site.BaseURL}}img/{{ replace .Params.img " ." " _1024." }}') ">
                <a href="{{ .Permalink }}">
                    <div class="portfolio_item_overlay">
                        <div class="inner">
                            <div class="title">
                                <h3>{{.Title}}</h3>
                            </div>
                            <div class="subtitle">
                                {{.Params.subtitle}}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {{ end }}
    </div>
</section>
