<section id="collaboration" class="fill">
    <div class="row middle">
        <div class="container">
            <h1>{{ .Site.Params.collaboration.title }}</h1>
            <div class="row">
                {{ range $index, $element := first 4 (where .Site.Pages "Section" "blog") }}

                    <div class="col-md-6 {{ .Params.fronttype }}">

                        {{ if eq .Params.fronttype "image"}}
                            <img src="{{.Site.BaseURL}}img/{{ replace (index .Params.img 0) "." "_wide." }}">
                        {{end}}

                        <h1 id="title">{{ .Title }}</h1>
                        <a href="{{.Permalink }}">{{ .Params.frontType }}</a>

                    </div>

                {{ end }}
            </div>
            <h4 class="readMore">{{ .Site.Params.collaboration.more }}</h4>
        </div>
    </div>
</section>
