<nav id="mainNav" class="mainNav" data-spy="affix" data-offset-top="197">
     <div class="navbar-header">
       <div class="container">

        <button type="button" class="navbar-toggle collapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand page-scroll" href="{{ .Site.BaseURL }}#page-top">
            {{ with .Site.Params.navigation.brand }}{{ . }}{{ end }}
        </a>

        {{ range .Site.Params.navigation.links }}
            <span class="nav_item">
                <a href="{{ $.Site.BaseURL }}{{ .link }}">
                    {{ .name }}
                </a>
            </span>
        {{end}}

      </div>
    </div>
</nav>
