<nav id="mainNav" class="mainNav">
     <div class="navbar-header">
       <div class="container">

        <button type="button" class="navbar-toggle collapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll" href="{{ .Site.BaseURL }}#page-top">
            {{ with .Site.Params.navigation.brand }}{{ . }}{{ end }}
        </a>
      </div>
    </div>
</nav>

    <section class="dropDown menu fill hidden">
      <div class="container fill">
        <div class="row middle">
                {{ range .Site.Params.navigation.links }}
                    <h1>
                        <a class="menu-item page-scroll" href="{{ .Site.BaseURL }} {{ .link }}">
                            {{ .name }}
                        </a>
                    </h1>
                {{end}}
        </div>
      </div>
    </section>
