<nav id="mainNav" class="mainNav {{ if .IsHome }}home{{end}}" data-spy="affix" data-offset-top="197">
    <div class="container">
        <div class="row">
            <div class="col-md-12 navbar-header">

                <div class="navbar-toggle collapsed" id="nav-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

                <a class="navbar-brand page-scroll" href="{{ $.Site.BaseURL }}">
                    {{ with $.Site.Params.navigation.brand }}{{ . }}{{ end }}
                </a>

                <div class="collapse navbar-collapse">
                    {{ range $.Site.Params.navigation.links }}
                        <span class="nav_item">
                            <a href="{{ $.Site.BaseURL }}{{ .link }}">
                                {{ .name }}
                            </a>
                        </span>
                    {{end}}
                </div>

            </div>
        </div>
    </div>
</nav>

<div id="fullMenu">
    <div class="container">
        {{ range $index, $element := $.Site.Params.navigation.links }}
            <h1>
                <a href="{{ $.Site.BaseURL }}{{ .link }}" class="glitchies-{{ $index }}" data-text="{{ .name }}">
                    {{ .name }}
                </a>
            </h1>
        {{end}}
    </div>
</div>
