<section id="portfolio">
    <div class="container">

        {{ range $index, $element := first 4 (where .Site.Pages "Section" "portfolio") }}
            <div class="portfolio_item " style="background-image:url('{{.Site.BaseURL}}img/{{ replace (index .Params.img 0) " ." " _1024." }}') ">
                <!-- <img class="responsive_images" src="{{.Site.BaseURL}}img/{{ replace (index .Params.img 0) " ." " _wide." }}"> -->
                <a href="{{ .Permalink }}">

                    <div class="portfolio_item_overlay">
                        <div class="inner">
                            <div class="title">
                                <h3>{{.Title}}</h3>
                            </div>
                            <div class="subtitle">
                                <p>{{.Params.subtitle}}</p>
                            </div>
                        </div>
                    </div>
                </a>

            </div>

        {{ end }}
    </div>

</section>
