{{ partial "header.html" . }}
{{ partial "nav.html" .}}
<div class="page-list container">



  <div class="row list grid">
      {{ range .Data.Pages }}
          <div class="item col-md-6 {{ .Params.fronttype }}">
              <a href="{{.Permalink }}">{{ .Params.frontType }}
                  <div class="bg-container">
                      {{ if eq .Params.fronttype "image"}}
                          <img class="responsive_images" src="{{.Site.BaseURL}}img/{{ replace (index .Params.img 0) " ." " _wide." }}">
                      {{end}}

                      {{ if eq .Params.fronttype "video"}}
                          <div class="flex-video">
                              <iframe src="//player.vimeo.com/video/{{.Params.vimeoid}}" allowfullscreen></iframe>
                          </div>
                      {{end}}

                      {{ if eq .Params.fronttype "text"}}
                          <p class="text">
                              {{.Params.subtitle}}
                          </p>
                      {{end}}

                  </div>
                  <h3 class="title">{{ .Title }}</h3>
              </a>

          </div>

      {{ end }}
  </div>


</div>

{{ partial "footer.html" . }}
