{{ partial "header.html" . }}
{{ partial "nav.html" .}}

<div id="single-project" class="scrolling-content">

    <div id="project-header" class="fill">
        <div class="project fill">
            <div class="bg-img fill" style="background-image:url({{$.Site.BaseURL}}img/{{.Params.img}})">
                <div class="title container">
                    <h1>
                        {{ $.Title }}
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div id="project-content">
        <div class="container">

            <!-- <div class="row project-info">
                <div class="title">

                </div>
            </div> -->

            <div class="row content">
                <div class="col-md-9 ">
                    {{.Content}}
                </div>

                <div class="col-md-3">

                    <div class="attributes">
                        <h5>Year:</h5>

                        <div class="year">
                            <span class="date">{{ .Date.Format "2006" }}</span>
                        </div>

                        {{ with .Params.tags }}

                            {{ $len := len . }}
                            {{if ne $len 0}}
                                <div class="tags">
                                    <h5>filed under:</h5>
                                    {{range .}}
                                        <span class="tag">{{ . }}</span>
                                    {{end}}
                                {{end}}
                            </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ partial "footer.html" . }}
