{{ partial "header.html" . }}
{{ partial "nav.html" .}}
<div id="project-header" class="fill">
    <div class="project fill">
        {{range .Params.img}}
            <div class="bg-img fill" style="background-image:url({{$.Site.BaseURL}}img/{{.}})"></div>
        {{end}}
        <div class="container fill overlay">
            <div class="row middle inverted project-info">
              <div class="title">
                <h1>
                    <a href="{{.Permalink }}">{{ .Title }}</a>
                </h1>
              </div>
              <div class="subtitle">
                <p>{{.Params.subtitle}}</p>
              </div>
            </div>
        </div>
    </div>
</div>

<div id="project-content" class="">
  <div class="container">
    {{.Content}}
  </div>
</div>


{{ partial "footer.html" . }}
