{{ partial "header.html" . }}
{{ partial "nav.html" .}}

<div id="single-project">

    <div id="project-header" class="fill">
        <div class="project fill">
            {{range .Params.img}}
                <div class="bg-img fill" style="background-image:url({{$.Site.BaseURL}}img/{{.}})"></div>
            {{end}}
        </div>
    </div>

    <div id="project-content">
        <div class="container">

            <div class="row project-info">
                <div class="title">
                    <h1>
                        <a href="{{.Permalink }}">{{ .Title }}</a>
                    </h1>
                </div>
            </div>

            <div class="row content">
                <div class="col-md-9 ">
                    {{.Content}}
                </div>

                <div class="col-md-3">

                    <div class="attributes">
                        <h5>Year:</h5>

                        <div class="year">
                            <span class="date">{{ .Date.Format "2006" }}</span>
                        </div>
                        <div class="tags">
                            <h5>filed under:</h5>
                            {{range .Params.tags}}
                                <span class="tag">{{ . }}</span>
                            {{end}}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{{ partial "footer.html" . }}
