@import "bootstrap/bootstrap.less";




html {
  height:100%;
}

body {
  height:100%;
}

#mainNav{
  position: relative;
}

#hero{
  text-align: center;
}

.fill {
    min-height: 100%;
    height: 100%;
}
